<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142499721-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142499721-2');
</script>


    <meta charset="utf-8">
    <title>{{title}}</title>
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="/stylesheets/bootstrappage.css" rel="stylesheet" />
    <link href="/stylesheets/custom.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <!-- global styles -->
    <link href="/stylesheets/flexslider.css" rel="stylesheet" />
    <link href="/stylesheets/main.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="/javascripts/jquery-1.7.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/superfish.js"></script>
    <script src="/javascripts/jquery.scrolltotop.js"></script>

</head>
<body>
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <form action="/search"  method="get" >
                    <input type="text" class=" search-query" Placeholder="search" name="strSearch">
                </form>
            </div>
            <div class="span8">
                <div class="account pull-right">
                    <ul class="user-menu">
                        {{#if user.Username}}
                            <li><a href="/cart/loadcart">Your Cart</a></li>
                            <li><a class="fa fa-user fa-lg">&nbsp;{{user.Username}}</a></li>
                            <li>
                                <form action="/customer/logout" method="GET">
                                    <input type="submit" value="Logout">
                                </form>
                            </li>
                        {{else}}
                            <li><a href="/customer/register">Register</a></li>
                            <li><a href="/customer/login">Login</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">
                <a href="/" class="logo pull-left"><img src="/images/logo.png" class="site_logo" alt=""></a>
                <nav id="menu" class="pull-right">
                    <ul>
                        <li>
                            <a href="/product/product-all/women/viewpage=1">Women</a>
                            <ul>
                                <li><a href="/product/product-all/women-shirt/viewpage=1">Shirt</a></li>
                                <li><a href="/product/product-all/women-tshirt/viewpage=1">Tshirt</a></li>
                                <li><a href="/product/product-all/women-jean/viewpage=1">Jean</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/product/product-all/man/viewpage=1">Man</a>
                            <ul>
                                <li><a href="/product/product-all/man-shirt/viewpage=1">Shirt</a></li>
                                <li><a href="/product/product-all/man-tshirt/viewpage=1">Tshirt</a></li>
                                <li><a href="/product/product-all/man-jean/viewpage=1">Jean</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/product/product-all/sport/viewpage=1">Sport</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>

        {{{body}}}

        
        <section id="footer-bar">
            <div class="row">
                <div class="span3">
                    <h4>Navigation</h4>
                    <ul class="nav">
                        <li><a href="/">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contac Us</a></li>
                        <li><a href="#">Your Cart</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="span4">
                    <h4>My Account</h4>
                    <ul class="nav">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Wish List</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                </div>
                <div class="span5">
                    <p class="logo"><img src="/images/logo.png" class="site_logo" alt=""></p>
                    <p>High quality products.</p>
                    <br />
                    <span class="social_icons">
                        <a class="facebook" href="#">Facebook</a>
                        <a class="twitter" href="#">Twitter</a>
                        <a class="skype" href="#">Skype</a>
                        <a class="vimeo" href="#">Vimeo</a>
                    </span>
                </div>
            </div>
        </section>
        <section id="copyright">
            <span>Copyright 2013 bootstrappage template  All right reserved.</span>
        </section>
    </div>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                $('.flexslider').flexslider({
                    animation: "fade",
                    slideshowSpeed: 4000,
                    animationSpeed: 600,
                    controlNav: false,
                    directionNav: true,
                    controlsContainer: ".flex-container" // the container that holds the flexslider
                });
            });
        });
    </script>
</body>
</html>