.width-500{
    width: 500px;
}
.width-400{
    width: 400px;
}
.width-300{
    width: 285px;
}
.color-red{
    color: red !important;
}
.pl-250{
    padding-left: 250px !important;
}

.pl-430{
    padding-left: 430px;
}
.pl-530{
    padding-left: 530px;
}
.align-center{
    text-align: center !important;
}
