<section class="header_text sub">
    <img class="pageBanner" src="pageBanner.png" alt="New products">
    <h4><span>New products</span></h4>
</section>
<section class="main-content">

    <div class="row">
        <div class="span12">

            <ul class="thumbnails listing-products">
                {{#each all}}
                <li class="span3">
                    <div class="product-box">
                        <a href="/product-detail"><img alt="" src="https://pttk-shopping-web-admin.herokuapp.com/{{this.Image}}"></a><br />
                        <a href="/product-detail" class="title">{{this.Name}}</a><br />
                        <a href="#" class="category">{{this.Category}}</a>
                        <p class="price">${{this.Cost}}</p>
                    </div>
                </li>
                {{/each}}
            </ul>

            <hr>
            <div class="pagination pagination-small pagination-centered">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</section>