<section class="header_text sub">
    <img class="pageBanner" src="/images/pageBanner.png" alt="New products">
    <h4><span>Check Out</span></h4>
</section>
<section class="main-content">
    <div class="row">
        <div class="span12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Shipment Detail</a>
                    </div>
                    <div id="collapseOne" class="accordion-body in collapse">
                        <div class="accordion-inner">
                            <div class="row-fluid">
                                <form action="/order/addcheckout" method="POST">
                                    {{#if strError}}
                                        <div class="alert alert-danger">
                                            {{strError}}
                                        </div>
                                    {{/if}}
                                    <div class="span12 pl-430">
                                        
                                        <div class="control-group">
                                            <label class="control-label">Receiver Name</label>
                                            <div class="controls">
                                                <input type="text" name="Name" class="input-xlarge">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Receiver Address</label>
                                            <div class="controls">
                                                <input type="text" name="Address" class="input-xlarge">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Receiver Phonenumber</label>
                                            <div class="controls">
                                                <input type="text" name="Phonenumber" class="input-xlarge">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-530">
                                        <input type="submit" class="btn btn-inverse" value="Confirm">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	