<section class="header_text sub">
    <img class="pageBanner" src="/images/pageBanner.png" alt="New products">
</section>
<section class="main-content">
    <div class="row">
        <div class="span12">
            <h4 class="title"><span class="text"><strong>Login</strong> Form</span></h4>
            <form action="/customer/login" method="POST">
                <fieldset class=" text-center">
                    {{#ifCond number '>' 0}}
                        <input class="width-400 color-red" type="text" name="next" value="{{loginMessages}}">
                    {{/ifCond}}
                    <div class="control-group">
                        <label class="control-label">Username</label>
                        <div class="controls">
                            <input type="text" placeholder="Enter your username" name="Username" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password</label>
                        <div class="controls">
                            <input type="password" placeholder="Enter your password" name="Password" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <input class="btn btn-inverse large" type="submit" value="Sign into your account">
                        <hr>
                        <p class="reset">Forgot <a tabindex="4" href="/customer/forgot-password" title="Recover your username or password">Password?</a></p>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>	

<!--
<script>
			$(document).ready(function() {
				$('#checkout').click(function (e) {
					document.location.href = "/checkout";
				})
			});
</script>

-->